---
import GameCard from "@/components/about/GameCard"
import { getGames } from "@/lib/games"

export const prerender = false

const games = await getGames()
---

<div
  class="bg-muted-foreground/10 dark:bg-muted/60 z-50 col-span-1 row-span-1 grid h-full w-full grid-cols-4 place-items-center gap-2 rounded-xl p-2 py-4 backdrop-blur-lg md:max-w-56 md:grid-cols-2 md:py-2"
>
  {games.map((game) => <GameCard {game} client:idle />)}

  {/* Render empty squares if less than 4 games */}
  {
    games.length < 4 &&
      Array.from({ length: 4 - games.length }).map((_, index) => (
        <div class="h-16 w-16 rounded-lg bg-neutral-200 transition-transform duration-300 ease-in-out hover:scale-110 md:h-19 md:w-19 dark:bg-neutral-700" />
      ))
  }
</div>
