---
import recents from "@/content/recents"
---

<section class="bg-muted/60 z-10 col-span-1 row-span-2 flex w-full flex-col gap-4 rounded-xl p-2 backdrop-blur-lg">
  <h3 class="text-center font-medium">recent highlights</h3>
  <div class="ml-12 flex md:ml-6">
    <ul class="list-disc space-y-2">
      {
        recents.length > 0 ? (
          recents.map((recent) => (
            <li class="text-muted-foreground text-sm">
              {recent.links ? (
                <>
                  {recent.content
                    .split(new RegExp(`(${recent.links.map((link) => link.where).join("|")})`))
                    .map((part, i) => {
                      const link = recent.links?.find((link) => link.where === part)
                      return link ? (
                        <a
                          href={link.href}
                          class="text-primary font-medium underline-offset-2 hover:underline"
                          target={!link.internal ? "_blank" : "_self"}
                          rel="noopener noreferrer"
                        >
                          {part}
                        </a>
                      ) : (
                        part
                      )
                    })}
                </>
              ) : (
                recent.content
              )}
            </li>
          ))
        ) : (
          <li class="text-muted-foreground text-sm">No recent highlights to display.</li>
        )
      }
    </ul>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.body.addEventListener("click", (event) => {
      const target = event.target as HTMLElement
      const link = target.closest("a") as HTMLAnchorElement | null

      if (link && link.hash && link.origin === window.location.origin) {
        const targetElement = document.querySelector(link.hash)

        if (targetElement) {
          event.preventDefault()
          targetElement.scrollIntoView({ behavior: "smooth" })
        }
      }
    })
  })
</script>
